<!doctype html>
<html lang="en">
  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Lacteos_ACB</title>
   </head>
  <body>
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h4 class="text-white">Collapsed content</h4>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
    <div class="container-fluid" id="header2">
      
                <!--hacer un div donde meta el titulo y el menu ese-->
        <a id="back">
          LACTEOS DEL ALTIPLANO CB
        </a>
    <span class="navbar-text text-white col-md-1" id = "usuario" style="border-image-outset: 0in; text-decoration: none; position:absolute; top:3%; left:91%;">
      <ul>Admin.</ul>
      <ul>Maria</ul>
    </span>
    <button class=" btn-circle" id="close-image" style="background-color:#51406a; position:absolute; top:1%; left:86%;"><img
        src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png"></button>
</div>

<a href="/log_in" style="text-decoration: none; color: red; position:absolute; top:4%; left:79%;"> Cerrar Sesion</a>
<!-- Menu -->
<nav class="navbar navbar-expand-lg" id="MenuNav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" id="usersRegistr" href="#">Gestionar inventario</a>
      </li>
    </ul>
  </div>
  <input class="form-control mr-sm-2" id="searchBar" type="search" placeholder="Producto" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" id="ButtonNorm" type="submit">Buscar</button>
</nav>

     <div class="container">
      <div class="shadow-lg pb-3 mb-5 bg-body rounded">
          
        <h4>Gestion de Inventario</h4>

      

        <table id="tableProducts" class="table mt-4">
          <thead>
              <tr>
                  <th style="display: none;">ID</th>
                  <th>ID PRODUCTO</th>
                  <th>NOMBRE PRODUCTO</th>
                  <th>DESCRIPCION</th>
                  <th>PRECIO</th>
                  <th>STOCK</th>
                  <th>ACCIONES</th>
              </tr>
          </thead>
          <tbody>
              <% products.forEach((product) => { %>
                  <tr>
                      <td style="display: none;"><%= product._id %></td>
                      <td><%= product.id_product %></td>
                      <td><%= product.name_product %></td>
                      <td><%= product.amount +" "+ product.unit_of_measurement %></td>
                      <td><%= product.price %></td>
                      <td><%= product.stocks %></td>
                      <td>
                          <a type="button" class="btn_add_inventory btn btn-outline-primary bi bi-plus-lg"></a>
                          <a type="button" class="btn_sub_inventory btn btn-outline-primary bi bi-dash-lg"></a>
                      </td>
                  </tr>
              <% }) %>
          </tbody>
      </table>
      </div>
    </div>
    
    <!---->

    
    <div id="modalInventoryAdd" class="modal fade"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #51406a;" >
            <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;" >Agregar productos al inventario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
    
          
    
          <div class="modal-body">
            <form action="/add_amount_inventory" method="POST">
    
              <input id="id_inventory" name="id_inventory" type="text" hidden>
    
              <div class="mb-3">
                <label for="id_product_inventory" class="col-form-label">ID del producto:</label>
                <input id="id_product_inventory" name="id_product_inventory" type="text" class="form-control" id="recipient-name" disabled>
              </div>
    
              <div class="col-md-6">
                <label for="name_product_inventory" class="form-label">Nombre del producto</label>
                <input id="name_product_inventory" name="name_product_inventory" type="text" class="form-control" readonly/>
              </div>
    
              <div class="col-md-6">
                <label for="description_product_inventory" class="form-label">Unidad de medida</label>
                <input id="description_product_inventory" name="description_product_inventory" type="text" class="form-control" readonly/>
              </div>

              <div class="col-md-6">
                <label for="price_product_inventory" class="form-label">Precio</label>
                <input id="price_product_inventory" name="price_product_inventory" type="number" class="form-control" min="0" readonly />
              </div>

              <div class="col-md-6">
                <label for="product_stock_inventory" class="form-label">Cantidad en inventario</label>
                <input id="product_stock_inventory" name="product_stock_inventory" type="number" class="form-control" min="0" readonly/>
              </div>

              <div class="col-md-6">
                <label for="add_product_stock_inventory" class="form-label">Cantidad que desea agregar</label>
                <input id="add_product_stock_inventory" name="add_product_stock_inventory" type="number" class="form-control" min="0" required/>
              </div>

              <div class="modal-footer">
                <button type="submit" style="background-color: #51406a;" class="btn btn-primary">Agregar al inventario</button>
              </div>
            </form>
          </div> 
        </div>
      </div>
    </div>
    


    <div id="modalInventorySub" class="modal fade"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #51406a;" >
            <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;" >Quitar productos del inventario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
    
          <div class="modal-body">
            <form action="/sub_amount_inventory" method="POST">
    
              <input id="id_inventory_sub" name="id_inventory" type="text" hidden>
    
              <div class="mb-3">
                <label for="id_product_inventory_sub" class="col-form-label">ID del producto:</label>
                <input id="id_product_inventory_sub" name="id_product_inventory_sub" type="text" class="form-control" id="recipient-name" disabled>
              </div>
    
              <div class="col-md-6">
                <label for="name_product_inventory_sub" class="form-label">Nombre del producto</label>
                <input id="name_product_inventory_sub" name="name_product_inventory_sub" type="text" class="form-control" readonly/>
              </div>
    
              <div class="col-md-6">
                <label for="description_product_inventory_sub" class="form-label">Unidad de medida</label>
                <input id="description_product_inventory_sub" name="description_product_inventory_sub" type="text" class="form-control" readonly/>
              </div>

              <div class="col-md-6">
                <label for="price_product_inventory_sub" class="form-label">Precio</label>
                <input id="price_product_inventory_sub" name="price_product_inventory_sub" type="number" class="form-control" min="0" readonly />
              </div>

              <div class="col-md-6">
                <label for="product_stock_inventory_sub" class="form-label">Cantidad en inventario</label>
                <input id="product_stock_inventory_sub" name="product_stock_inventory_sub" type="number" class="form-control" min="0" readonly/>
              </div>

              <div class="col-md-6">
                <label for="sub_product_stock_inventory" class="form-label">Cantidad que desea quitar</label>
                <input id="sub_product_stock_inventory" name="sub_product_stock_inventory" type="number" class="form-control" min="0" required/>
              </div>

              <div class="modal-footer">
                <button type="submit" style="background-color: #51406a;" class="btn btn-primary">Quitar del inventario</button>
              </div>
            </form>
          </div> 
        </div>
      </div>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="js/codeInventory.js"></script>  

        
<!---->


</body>
</html>