<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Combo&display=swap" rel="stylesheet">
  <title>Lacteos_gggggggACB</title>
</head>

<body>
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
  <div class="container-fluid" id="header2">

    <!--hacer un div donde meta el titulo y el menu ese-->
    <a id="back">
      LACTEOS DEL ALTIPLANO CB
    </a>
    <span class="navbar-text text-white col-md-1" id="usuario"
      style="border-image-outset: 0in; text-decoration: none; position:absolute; top:3%; left:91%;">
      <ul>Admin.</ul>
      <ul>Maria</ul>
    </span>
    <button class=" btn-circle" id="close-image"
      style="background-color:#51406a; position:absolute; top:1%; left:86%;"><img
        src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png"></button>
  </div>

  <a href="/log_in" style="text-decoration: none; color: red; position:absolute; top:4%; left:79%;"> Cerrar Sesion</a>
  <!-- Menu -->
  <nav class="navbar navbar-expand-lg" id="MenuNav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" id="usersRegistr" href="#">
            Agregar usuarios</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" id="btnAdd" href="/users">
            Usuarios registrados</a>
        </li>
      </ul>
    </div>
  </nav>

  <div>
    <h1>Informacion del cliente</h1>

  </div>





  <table id="tableProducts" class="table mt-4">
    <thead>
      <tr>
        <th style="display: none;">ID</th>
        <th>ID PRODUCTO</th>
        <th>NOMBRE PRODUCTO</th>
        <th>UNIDAD DE MEDIDA</th>
        <th>CANTIDAD</th>
        <th>PRECIOsssssssssssss</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach((product)=> { %>
        <tr>
          <td style="display: none;">
            <%= product._id %>
          </td>
          <td>
            <%= product.id_product %>
          </td>
          <td>
            <%= product.name_product %>
          </td>
          <td>
            <%= product.unit_of_measurement %>
          </td>
          <td>
            <%= product.amount %>
          </td>
          <td>
            <%= product.price %>
          </td>
          <td>
            <a type="button" class="btnMakeSale btn bi bi-cart3"></a>

          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>



  <!---->

  <div id="modalMakeSaler" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #51406a;">
          <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff;">Seleccion del producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>


        <!---->

        <div class="modal-body">
          <form action="/add_to_sale" method="POST">

            <input id="id_make_sale_product" name="id_edit_product" type="text" hidden>
            <!--
              <div class="mb-3">
                <label for="id_product_make_sale" class="col-form-label">ID del producto:</label>
                <input id="id_product_make_sale" name="id_product_make_sale" type="text" class="form-control" id="recipient-name" disabled>
              </div>
    -->
            <div class="col-md-6">
              <label for="name_product_make_sale" class="form-label">Nombre del producto</label>
              <input id="name_product_make_sale" name="name_product_make_sale" type="text" class="form-control"
                disabled />
            </div>

            <div class="col-md-6">
              <label for="presentation_make_sale" class="form-label">DESCRIPCION</label>
              <input id="presentation_make_sale" name="presentation_make_sale" type="text" class="form-control"
                disabled></input>
            </div>

            <div class="col-md-6">
              <label for="price_product_make_sale" class="form-label">Precio</label>
              <input id="price_product_make_sale" name="price_product_make_sale" type="text" class="form-control"
                disabled></input>
            </div>

            <div class="col-md-6">
              <label for="price_product_edit" class="form-label">Cantidad</label>
              <input id="price_product_edit" name="price_product_edit" type="number" class="form-control" min="1"
                required />
            </div>

            <!---->
            <div class="modal-footer">
              <button type="submit" style="background-color: #51406a;" class="btn btn-primary">Agregar a la
                compra</button>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>

  <!---->


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="js/codeMakeSale.js"></script>

</body>

</html>